@model Teste.Timipro.Models.User

@{
    ViewBag.Title = "Excluir Usuário";
}

<h2>Excluir Usuário</h2>

<h3>Você tem certeza que deseja excluir este usuário?</h3>
<div>
    <h4>Usuário:</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Excluir" class="btn btn-danger" /> |
    @Html.ActionLink("Voltar para a lista", "Index", new { }, new { @class = "btn btn-primary" })
</div>
    }
</div>
