@model Teste.Timipro.Entities.ProductEntity

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes do Produto:</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ProductID }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Voltar para a lista", "Index", new { }, new { @class = "btn btn-primary" })
</p>
